.contentPage{
    width: 90%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1500px;
}

p{
    width: 90%;
    font-size: medium;
}

mark{
    background-color: lightgrey;
}
.address{
    width: 15%;
}
.bottom-line{
    margin-top: 25px;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
  }

@media (max-width: 750px) {
   .video-grid{
      grid-template-columns: 1fr 1fr;
   }
}

@media (min-width: 751px) and (max-width: 999px) {
   .video-grid{
      grid-template-columns: 1fr 1fr 1fr;
   }
}

@media (min-width: 1000px) {
   .video-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}
 
